.nav {
    background-color: transparent;
}

.nav li {
    margin: 0 24px;
}

.logo {
    max-height: 10vh;
}

#home {
    height: 85vh;
    background-image: linear-gradient( to right top,
    rgba(100, 100, 100, 0.8),
    rgba(67, 126, 245, 0.8)),
    url("https://s3-media4.fl.yelpcdn.com/bphoto/rBR_lhAdvAKkdujqnKGn8w/o.jpg");
    background-size: cover;
    background-position: top;
    background-position: center;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    text-shadow: 2px 2px #000000;
}

#about {
    padding: 73px;
}

#about img {
    text-shadow: 5px 5px #000000;
}